Checks: "checks=clang-diagnostic-*,clang-analyzer-*,cppcoreguidelines-*,modernize-*,
    -modernize-use-trailing-return-type,misc-unused-*,misc-include-cleaner"
WarningsAsErrors: ""
HeaderFilterRegex: ""
